apiVersion: v1
kind: Service
metadata:
  name: sentiment-service
  labels:
    app: sentiment-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  type: LoadBalancer
  selector:
    app: sentiment-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
